<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my website</title>
</head>
<body>
    <h1>huihui's website</h1>
    <h3>final work</h3>
    <div>一人一整行
        <span>文字本身</span>
        <!--超链接-->
        <a href="https://blog.csdn.net/qq_43139145/article/details/128073474">笔记链接</a>
        <a href="/get/more">查看更多</a>
    </div>

    <h1>data table</h1>
    <table border="1">
        <!--表头-->
        <thead>
            <tr> <th>ID</th>
                <th>头像</th><th>姓名</th> <th>年龄</th> </tr>
        </thead>
        <tbody>
            <tr>
                <td>001001</td>
                <td>
                    <img src="/static/buding.jpeg" alt="" height="50px" width="50px" >
                </td>
                <td>vivian</td>
                <td>19</td>
            </tr>
            <tr>
                <td>001002</td>
                   <td>
                    <img src="/static/melody.jpeg" alt="" height="50px" >
                </td>
                <td>lucy</td>   <td>18</td> </tr>
            <tr> <td>001003</td>
                   <td>
                    <img src="/static/kuromi.jpeg" alt="" height="50px" >
                </td><td>ivy</td>    <td>19</td> </tr>
            <tr> <td>001004</td>    <td>
                    <img src="/static/wawa.jpeg" alt="" height="50px" >
                </td><td>nancy</td>  <td>20</td> </tr>
        </tbody>
    </table>
        <input type="text">
        <input type="password">
        <input type="file">

        <!--单选框子-->
        <input type="radio" name="n1">male
        <input type="radio" name="n1">female

        <!--复选框-->
        <input type="checkbox">A
        <input type="checkbox">B
        <input type="checkbox">C
        <input type="checkbox">D

        <input type="button" value="提交">
        <input type="submit" value="提交">
        <!--第一个是普通的button，第二个是提交表单-->

        <!--多选框-->
        <select>
            <option>shanghai</option>
            <option>beijing</option>
            <option>hangzhou</option>
        </select>
        <!--按住shift可以多选-->
         <select multiple>
            <option>shanghai</option>
            <option>beijing</option>
            <option>hangzhou</option>
        </select>

        <!--多行文本-->
        <textarea rows="5"></textarea>
</body>
</html>